.image-container {
  width: 100%;
  margin: 5px 0;
  position: relative;
}

.absolute-head {
  max-width: 100%;
  font-size: 1em;
  color: white;
  position: absolute;
  top: 0%;
  left: 40%;
  right: 40%;
  text-align: center;
}
.absolute-main-text {
  font-size: 1.5em;
  max-width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.absolute-main-text h1 {
  margin: 0;
}

.wavy {
  max-width: 40%;
  margin: 0 auto;
}
